[authority]
listen_addr = "{{AUTHORITY_ADDR}}"
policy_dir = "issuance-policies/"
revocation_file = "revocations.txt"
key_file = "firma-authority.key"
tls_cert_path = "authority.crt"
tls_key_path = "authority.key"
max_ttl = "1h"
bundle_ttl = "30s"
